/ -if current_user
/     - name = (current_user.first_name.nil?) ? "" : current_user.first_name
/     = "Welcome " + name + "!"
/     =link_to "Sign out", signout_path 
/ -else
/     =image_tag('books.jpg', :class => 'home_image')
/     .home
/         .home_box
/             .home_text
/                 Welcome to Questionbase. Please log in with Facebook to get started!
/                 %br
/                 %br
/                 =link_to image_tag('fb_login.png'), "auth/facebook", :class => "fb_button"

- content_for :title, "Flipped Video Lessons for Continuous Assessment"

.teach#quiz
  = render "layouts/header"
  #above_fold_container{:class => ("ie" if request.env['HTTP_USER_AGENT'] =~ /MSIE/)}
    #try_arrow
      = image_tag('home/try_it_arrow.png')
    #above_fold
      #splash
        .message
          %h1.large
            Effective video learning.
          %h2.small
            Are you still waiting to see the true value in educational video? 
            %br
            Embedding activities within your videos is a great way to turn a
            %br
            passive resource into an active, engaging one. Use our simple tools 
            %br
            to create video-based assessments from any existing video, then 
            %br 
            share with your students!
        .cta
          %a{:href => "/users/sign_up"}
            %button.button.yellow#get_started Get started
          %p= "- or - "
          %button.button.blue#learn_more Learn more
        #scene 
          =image_tag("scene.png")
  #demo
    %iframe{:src => "http://www.studyegg.com/review/116/embed"}
    #how_arrow
      = image_tag('home/how_arrow.png')
  .clr
  #below_fold_container
    #below_fold 
      #rows
        .row.first
          .img= image_tag "home/youtube.png"
          .copy
            %h3 1. Choose a video.
            %p Enter a link to a YouTube video to get started with creating your quiz.
            %p Don't see anything out there that suits your needs? You can always record your own video!
          .clr
        .clr
        .row.second
          .img= image_tag "home/create_questions.png"
          .copy
            %h3 2. Embed questions.
            %p Use our simple tools to embed questions anywhere throughout your video. 
            %p You choose the question format, we support multiple choice, T/F, and fill-in-the-blank.
          .clr
        .clr
        .row.third
          .img= image_tag "home/ss2-2.png"
          .copy
            %h3 3. Distribute and analyze.
            %p Share the link to your video quiz with your students. 
            %p Coming soon, our dashboard will let you review who has taken your quiz and how they scored.
          .clr
        .clr
