<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @resource.question_id %>
</p>

<p>
  <b>Url:</b>
  <%= @resource.url %>
</p>

<p>
  <b>Contains answer:</b>
  <%= @resource.contains_answer %>
</p>

<p>
  <b>Type:</b>
  <%= @resource.type %>
</p>

<p>
  <b>Begin:</b>
  <%= @resource.begin %>
</p>

<p>
  <b>End:</b>
  <%= @resource.end %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
