- @back = link_to 'Back', '/books/' + @current_book.id.to_s
= render :partial => "shared/header", :locals => { :back => @back } 

.content_container
	.left_column
		.column_content
			= form_for @chapter do |f|
				.field
					%td= f.label :name, "Chapter name", :class => "question_label"
					%td= f.text_field :name, :class => "question_field"
				%br/			
				.field
					%td= f.label :number, "Chapter number", :class => "question_label"
					%td= f.number_field :number, :class => "question_field"
				%br/
				=hidden_field_tag("book_id", @current_book.id)

				.actions
					%td= f.submit