- @back = link_to 'Back', '/books/' + @current_book.id.to_s
= render :partial => "shared/header", :locals => { :back => @back } 

.content_container
	.left_column
		.column_content
			= form_for @chapter do |f|
				.field
					%td= f.label :name, "Lesson name", :class => "form_label"
					%td= f.text_field :name, :class => "form_field"
				%br/
				.field
					%td= f.label :media_url, "Link to your video", :class => "form_label"
					%td= f.text_field :media_url, :class => "form_field"
				%br/								
				.field
					%td= f.label :number, "Lesson number", :class => "form_label"
					%td= f.number_field :number, :class => "form_field"
				%br/		
				=hidden_field_tag("book_id", @current_book.id)

				.actions
					%td= f.submit "Save Lesson"