.header{:id => "header_" + question.id.to_s, :question_id => question.id.to_s}
	.header_text_container
		%p.header_text= "#{i+1}. #{question.question}"
	.controls	
		.delete_question_container
			.delete_question
				= image_tag "close.gif"
		- if current_user.user_type == "ADMIN" || current_user.user_type == "QC"
			.question_feedback_container
				- if question.feedback
					= image_tag("flag_red.png", :title => "Note: questions with a red flag will not be visible to students!")
				- else
					= image_tag("flag_gray.png", :title => "Note: questions with a red flag will not be visible to students!")

