- @back = link_to('Back to Chapters', '/books/' + @book.id.to_s)
= render :partial => "shared/header", :locals => { :back => @back }  

.status_bar
	- if @chapter.media_url
		= link_to "Open Chapter Media", @chapter.media_url, :target => "_blank", :id => "media_link"
	%p.status_bar_title= "#{@chapter.name}"
	#chapter_status
		- if @chapter.status == 1
			.status.active{:chapter_id => @chapter.id}
				Active
			(
			= link_to_function "Submit", "window.builder.submitChapter()", :class => "edit_link"
			)
		- elsif @chapter.status == 2
			.status.complete{:chapter_id => @chapter.id}
				Submitted
			(
			= link_to_function "Un-Submit", "window.builder.unsubmitChapter()", :class => "edit_link"
			)				
		- elsif @chapter.status == 3
			.status.published{:chapter_id => @chapter.id}
				Published 	

= render :partial => "menu"
%br


%div{:id => "activities"}
	- @chapter.questions.each_with_index do |question, i|
		.activity_group{:id => "activity_group_" + question.id.to_s}
			= render :partial => "header", :locals => {:question => question, :i => i}
			%br
			.activity_content{:id => "activity_content_" + question.id.to_s}
				.activity_left_column
					= render :partial => "answers", :locals => {:question => question}
				.activity_right_column
					= render :partial => "media", :locals => {:question => question}

%iframe{:style => "width: 100%; height: 700px;", :src => "http://localhost:3000/review/#{@chapter.id}/embed"}

= hidden_field_tag "chapter_id", @chapter.id
= render :partial => "templates"
= javascript_include_tag "https://www.google.com/jsapi?key=ABQIAAAAS-XIIVzob1PDZ6UIwlNICxTJQa0g3IQ9GZqIMmInSLzwtGDKaBTJJypBQNMZogW_q9uhEuf13Y041Q"
= javascript_tag 'google.load("search", "1")'