- @back = link_to('Back to Chapters', '/books/' + @book.id.to_s)
= render :partial => "shared/header", :locals => { :back => @back }  

.menu
     = link_to_function "Add Question", "window.builder.newQuestion()"
     %br
     %br
     = link_to_function "Top", "window.control.scrollToTop()"
%br
%div{:id => "activities"}
     - @chapter.questions.each_with_index do |question, i|
          .activity_group{:id => "activity_group_" + question.id.to_s}
               .header{:id => "header_" + question.id.to_s, :question_id => question.id.to_s}
                    = label nil, "#{i+1}. #{question.question}", :class => "header_text"
               %br
               .activity_content{:id => "activity_content_" + question.id.to_s}
                    .activity_left_column
                         .question_group
                              = text_area nil, nil, :question_id => question.id, :value => question.question, :placeholder => "Question", :class => "question_area"
                              %br
                         .answer_group
                              - correct_answer = question.answers.all(:conditions => {:correct => true}).first
                              - if correct_answer
                                   .answer
                                        .indicator
                                             = label(nil, "O", :class => "indicator_mark")
                                        .answer_space
                                             = text_field nil, nil, :answer_id => correct_answer.id, :question_id => question.id, :value => correct_answer.answer, :placeholder => "Answer", :correct => 1, :class => "answer_field"             
                              - incorrect_answers = question.answers.all(:conditions => {:correct => false})
                              - if incorrect_answers
                                   - incorrect_answers.each do |incorrect_answer|
                                        .answer
                                             .indicator
                                                  = label(nil, "X", :class => "indicator_mark")
                                             .answer_space
                                                  = text_field nil, nil, :answer_id => incorrect_answer.id, :question_id => question.id, :value => incorrect_answer.answer, :placeholder => "Answer", :correct => 0, :class => "answer_field"
                              / .add_answer Add Answer
                              / - for answer in question.answers
                              /      .answer
                              /           .indicator
                              /                = answer.correct ? label(nil, "O", :class => "indicator_mark") : label(nil, "X", :class => "indicator_mark")
                              /           .answer_space
                              /                = text_field nil, nil, :answer_id => answer.id, :question_id => question.id, :value => answer.answer, :placeholder => "Answer", :correct => answer.correct ? 1 : 0, :class => "answer_field"
                              / .add_answer Add Answer                
                    .activity_right_column
                         - puts "q resource: #{question.resources.all(:conditions => {:contains_answer => false}).to_json}"
                         - puts "a resource: #{question.resources.all(:conditions => {:contains_answer => true}).to_json}"
                         .question_media_box
                              - resource = question.resources.all(:conditions => {:contains_answer => false}).first
                              - if resource
                                   = image_tag resource.url, :class => "preview", :resource_id => resource.id
                              - else 
                                   = image_tag "http://www.mediatehawaii.org/wp-content/uploads/placeholder.jpg", :class => "preview"
                         .answer_media_box
                              /.resource_group
                              - resource = question.resources.all(:conditions => {:contains_answer => true}).first
                              - if resource
                                   = image_tag resource.url, :class => "preview", :resource_id => resource.id
                              - else 
                                   = image_tag "http://www.mediatehawaii.org/wp-content/uploads/placeholder.jpg", :class => "preview"
                              %br

= hidden_field_tag "chapter_id", @chapter.id

%div{:id => "templates"}
     %div{:id => "activity_group"}
          .header
               = label nil, nil, :class => "header_text"
          %br  
          .activity_content   
               .activity_left_column
                    .question_group
                         = text_area nil, nil, :placeholder => "Question", :class => "question_area"
                    .answer_group
                         .add_answer Add Answer  
               .activity_right_column  
                    .question_media_box
                         = image_tag "", :class => "preview"
                    .answer_media_box             
                         /.resource_group
                         = image_tag "", :class => "preview"
                         %br
               / %br
     %div{:id => "answer"}
          .indicator
               = label(nil, "X", :class => "indicator_mark")
          .answer_space
               = text_field nil, nil, :id => "answer_field", :placeholder => "Answer", :class => "answer_field"    
     = text_field nil, nil, :placeholder => "URL", :class => "resource_field", :id => "resource"         
     %div{:id => "header"}
          = label nil, "", :class => "header_text"

#media-dialog{:class => "ui-widget ui-helper-hidden"}
     %form
          %fieldset
               %label{:for => "name"} Link to image:
               %input{:id => "modal_image_link", :name => "name", :type => "text"}